[2014-05-12 23:41] lgatto opened #1 "Empty pranges"
When creating a new `Proteins` instance, an `IRangesList` with empty `IRanges` is initialised. Is this necessary? Couldn't we just have `NULL` or an empty list?

[2014-05-13 00:53] lgatto opened #2 "Plot Proteins"
Reduce height of cleavage product track.

[2014-06-15 20:30] sgibb opened #4 "Pbase FTBFS"
Dear Laurent,

`Pbase` fails to build from source on BioC because `Pviz` is still missing:

http://www.bioconductor.org/checkResults/devel/bioc-LATEST/Pbase/

Possible solutions:
1. Remove the `plot` function (temporary).
2. Replace the `Pviz` functions by their corresponding `Gviz` functions (temporary).
3. Put `Pviz` in `Suggests:` and remove the `plot` function from the man page example.

What

[2014-06-16 22:41] #4 closed, assigned to nobody

[2014-07-26 20:24] sgibb opened #5 ".peptidePosition doesn't work for multiple peptides per protein"
The `.peptidePosition` function (which is not used yet) in `peptides-functions.R` doesn't find multiple peptides in a protein. Even worse it doesn't find anything if you ask for multiple peptides.

If you look for one peptide per protein everything is fine:

[code]

But if you want to look for more than one peptides per protein the function fails:

[code]

Because the function isn't used yet this

[2014-09-12 21:40] lgatto opened #7 ".fastaCommentParser fails when GN has a space"
[code]

[2014-09-20 15:45] #7 closed, assigned to sgibb

[2014-11-01 15:42] #5 closed, assigned to nobody

[2015-01-05 19:40] sgibb opened #8 "Building vignette `mapping.Rmd` fails."
The build process of `Pbase` fails on the Bioc servers: http://www.bioconductor.org/checkResults/devel/bioc-LATEST/Pbase/

Error message:

Error: processing vignette 'mapping.Rmd' failed with diagnostics:
subscript contains NAs or out-of-bounds indices
Execution halted

It seems that the start/end positions of the gene moved/changed in the ensembl database and
were not updated in the `TxDb.Hsapien

[2015-01-06 16:37] #8 closed

[2015-01-18 14:13] sgibb opened #9 "Building vignette `Pbase-data.Rmd` fails"
The build process of Pbase fails on the Bioc servers: http://www.bioconductor.org/checkResults/devel/bioc-LATEST/Pbase/

Error message:

Error: processing vignette 'Pbase-data.Rmd' failed with diagnostics:
error in evaluating the argument 'value' in selecting a method for function 'setPar': Error: no slot of name "id" for this object of class "GenomeAxisTrack"

[2015-01-19 17:04] lgatto commented on #9
Strange. I was able to run this code locally. I then tried to build/check under R-devel after running `biocLite` and got the following

[code]

Which I also get if I (re-)install `TxDb.Hsapiens.UCSC.hg19.knownGene`.

Let's wait a couple of days before following up.

[2015-02-12 18:52] sgibb commented on #9
Pbase 0.5.4 builds fine.

[2015-02-12 18:52] #9 closed

[2015-02-13 15:31] lgatto opened #11 "sandbox on github but not svn"
Currently, we have a `sandbox` directory on github, which is useful to share in progress scripts. There is more in my local dir, but that's fine, as there is not need to clutter too much. `sandbox` also lives partially on the Bioconductor [svn server](https://hedgehog.fhcrc.org/bioconductor/trunk/madman/Rpacks/Pbase/), which is not useful at all. Fortunately, we have `sandbox` (an more) in `.Rbuil

[2015-02-13 18:32] sgibb commented on #11
I agree, we don't need the sandbox directory on the bioc svn server. Is `svn propedit svn:ignore .` useful? (I have no idea whether original svn commands work in a git-svn setup.)

[2015-02-14 16:24] lgatto commented on #11
That does not seem to word. Even when ignoring works using `svn` (in a `svn checkout` dir), the directory gets added back by `git-svn`.

From the [git-svn manual](https://www.kernel.org/pub/software/scm/git/docs/git-svn.html)

[2015-02-18 22:50] lgatto opened #12 "Use names"
In `etrid2grl` and `mapToGenome`, define `use.names` and implement names usage.

[2015-02-18 22:53] lgatto opened #13 "mapToGenome,Proteins,GRangesList"
There could be a `mapToGenome,Proteins,GRangesList` method. Certainly for the case where `Proteins[1]` (length 1) and `GRangesList[n]` where `n` transcripts where mapped to `1` protein accession. But what about `Proteins[m]` and `GRangesList[n]`? Possibly, but using names (see issue #12).

[2015-02-18 23:04] lgatto opened #14 "Exon junction"
Properly map exon junction peptides, i.e. split their range accordingly. And when plot, group the two split parts. (See how this in done for RNA-Seq).

[2015-02-18 23:16] lgatto opened #15 "Align peptide and protein sequences"
Identify mismatches, encode with CIGAR strings.

[2015-02-18 23:19] lgatto opened #16 "Document non-unique peptide hits"

[2015-02-19 19:31] sgibb commented on #16
At least the `isUnique` column is already there. By calling `proteotypic` all unique peptides are marked as `Proteotypic = TRUE` and a column is added to the `pmetadata` slot:

[code]

The columns `otherProt` and `otherPep` would be difficult (maybe we could use the `MSnbase:::utils.vec2ssv` function) because multiple assignments could happen (e.g. peptide 1 of protein 1 is also present in protein

[2015-02-19 19:57] lgatto commented on #16
I had forgotten about `proteotypic`, thanks. I think I will add a call to `proteotipic` inside the constructor.

Yes, the `otherPep` and `otherProt` require something a bit more elaborate (a dedicated class ?), rather than another column.

[2015-02-19 20:07] lgatto opened #17 "Functions instead of generics"
In `Pbase`, there is a tendency of defining generics when a simple function would do. `plot`, `show` and generics in `BiocGenerics` (and soon [`ProtGenerics`](https://github.com/lgatto/ProtGenerics), hopefully) are clear cases where the name is generic used in multiple packages for different classes. But others like `proteotypic`, `calculateHeavyLabels`, `proteinCoverage` probably not, and probabl

[2015-02-19 22:40] lgatto commented on #13
Done in version `0.6.4`, commits `786e476416704769c110292cbeee3dd214375a52` and `660fe7219a03c8640732e9df9fe0544aa6c6c3cc`.

[2015-02-19 22:40] #13 closed

[2015-02-19 22:41] lgatto commented on #12
Done in version `0.6.4` in commit `1f42b6ecdfda8fb2104a27ea7527f8ab5b296717` and those references in #13.

[2015-02-19 22:41] #12 closed

[2015-02-20 04:45] lgatto commented on #17
See commits `2842be7602cd1695dbdf16ae2b0cc9f218588edf` and `6aeca639b46af10886ce820321c64a3673118b90`. I will check if there are other candidates and updated accordingly.

[2015-02-20 04:45] #17 closed

[2015-02-20 04:48] lgatto opened #18 "Failing test in test_heavylabels-functions"
@sgibb, could you have a look at the commented test [here](https://github.com/ComputationalProteomicsUnit/Pbase/blob/master/tests/testthat/test_heavylabels-functions.R#L33), which fails since I made the changes documented in issue #17.

[2015-02-20 21:53] #18 closed

[2015-02-20 22:12] lgatto commented on #18
Thanks!

[2015-02-20 23:08] lgatto opened #19 "Protein coverage"
I have some issues with `proteinCoverage`. I find the implementation a bit confusion and can't figure out why I end up with `NA`.

[code]
but `O75369` looks fine to me
[code]
![rplot001](https://cloud.githubusercontent.com/assets/384198/6310992/85d2280e-b954-11e4-8888-551cde81ac8e.png)

A naive implementation gives the following, which matches `proteinCoverage` ommitting `NA`s

[code]
@sgibb, coul

[2015-02-26 18:10] lgatto opened #20 "Parallelise pmapToGenome"
Using `BiocParallel`. New signature should be

[code]

[2015-02-27 16:53] sgibb commented on #19
You are right, it is confusing and contains at least one bug.

The first lines check the arguments and ensure that the order of the `pattern` (peptides) is the same as in the `subject` (proteins; mabye we can skip the ordering step? or implement a general function?): [ll. 19-41](https://github.com/ComputationalProteomicsUnit/Pbase/blob/master/R/proteinCoverage-functions.R#L19-L41)

The crucial ste

[2015-02-27 17:35] lgatto commented on #19
Unless I miss something:
- we should have any issues with the order - this is guaranteed be the `Proteins` class: `pfeature()[i]` come from `aa()[i]`;
- peptide are expected to be in their respective protein. If there were not, then the `Proteins` object should not be valid.

Hence, my suggestion would be
[code]

[2015-02-27 18:51] sgibb commented on #19
Ok I will fix this.

[2015-02-27 18:54] lgatto commented on #19
Just saw a type - I mean

- we should **not** have any issues with the order

[2015-02-27 20:09] #19 closed

[2015-02-27 21:54] lgatto commented on #14
Needs a fix when a peptide joins > 2 exons. See Sebastian's [comment](https://github.com/ComputationalProteomicsUnit/Pbase/commit/ba06a5166efdbaf7f5e165c98f97049945787430#commitcomment-9965427).

[2015-02-28 04:23] lgatto commented on #14
Fixed in commit `f64042aacd9af714a035f81af0fb1d87b47847ca`

[2015-02-28 04:23] #14 closed

[2015-02-28 04:24] lgatto opened #21 "Use plotting helper functions in vignettes"

[2015-02-28 04:24] lgatto opened #22 "Document plotting helper functions"

[2015-02-28 10:25] #22 closed

[2015-02-28 11:49] #21 closed

[2015-02-28 12:02] lgatto commented on #1
Let's keep it as it is.

[2015-02-28 12:02] #1 closed

[2015-10-08 10:38] lgatto opened #23 "Packages for BioC 3.2 (devel) build/check errors"
I can reproduce the error:

[code]

@sgibb It seems related to cleaving, which is more your expertise. Any hints?

[2015-10-12 23:09] lgatto commented on #23
Addressed in commit #525673c682ea097f60c1bc05fa44317576cc84a0

[2015-10-12 23:09] #23 closed

[2016-01-22 12:46] baderd opened #24 "New accessor for peptide ranges via AAStringSet"
Dear Mr Gatto and Mr Gibb,

I do not know whether this is the right way to approach you, so I beg your pardon if not.

I discovered your package Pbase here and wanted to do the following:
Convert peptide AA sequences from a known gene to GRanges object with DNA coordinates (mapToGenome). This would be my start fasta file peptides.fa (Note the IDs provided here are already HGNC symbols.)
<pre>

AAA

[2016-01-23 11:45] sgibb commented on #24
Dear Daniel,

thanks for your feature request. Just for clarification: You suggest a function `addPeptideFragments` that takes a fasta file with peptides as input and converts them to the corresponding ranges inside the Proteins object.
Does the fasta files have a Uniprot accession number? Otherwise we have to find the peptides inside the proteins via `grep` or something similar.

Best wishes,

Se

[2016-01-25 10:46] baderd commented on #24
Dear Mr Gibb,

You got me right. The peptide fasta file should have IDs. I put HGNC gene names, but I agree that Uniprot accession numbers make most sense. My motivation for starting this issue was to avoid the <code>grep</code> myself, since I thought you might have this already implemented in the <code>addIdentificationData<code> function.

Best,
Daniel

[2016-01-25 10:52] lgatto commented on #24
A few points, here.

- We would need a way to match the peptide and protein identifiers. These would need to be UniProt identifiers.

- Rather than `grep`, it would be better to align peptide to their id-matched protein. These alignment functions are readily available in `Biostrings`.

The best way here would be to have a peptide `AAStringSet` that contains the matching protein identifiers in `mco

[2016-01-25 17:48] sgibb commented on #24
@baderd is it possible to use a fasta file with Uniprot identifiers?

@lgatto I am not sure that an alignment is necessary. Without any testing I would assume that NW or SW alignment are slower than a `grepexpr` or `Biostrings::matchPattern` approach. IMHO there should be no need to handle gaps and mismatches in finding a peptide sequence in an unmutated protein, or?

[2016-01-26 08:42] baderd commented on #24
Yes, Uniprot IDs are good. In my case, the peptides originate from a MassSpec experiment, they should be substrings of the whole protein.

[2016-01-26 12:51] lgatto commented on #24
Maybe not for this specific use case, but I'm thinking about cases where there are insertions/deletions/mutations. `Biostrings::matchPattern` is actually fine, there is no explicit need for alignment.

[2016-02-07 17:02] sgibb commented on #24
@lgatto I tried to merge the github version to bioc svn using http://bioconductor.org/developers/how-to/git-mirrors/ but there are a lot of strange merge conflicts after running `git merge master --log`. Did you do something on svn only (without publishing on github)?

[2016-02-07 19:28] lgatto commented on #24
No, not that I can think of. There are every now and again such issues, but I don't know why. I'll have a look.

[2016-02-07 21:41] lgatto commented on #24
Merged Bioc commit r113044 into master, fixed version and committed all to Bioc. Bumped version to 0.11.3. I am closing this issue, feel free to re-open if necessary.

[2016-02-07 21:41] #24 closed

[2016-02-08 09:29] sgibb commented on #24
@lgatto thanks for doing the merge. It doesn't look very difficult now. I had a conflict in nearly every file (even DESCRIPTION and NEWS). I think I have to change my workflow and always sync with bioc before starting any coding.

[2016-02-08 09:57] lgatto commented on #24
One thing that comes handy is
[code]

[2016-02-22 17:21] lgatto opened #25 "pcols accessor and replacement method"
@sgibb - what do you think of the following?

[code]

Usage:
[code]

I am unsure if this is best practice for `CompressedSplitDataFrameList`, though.

This is in relation to [this question](https://support.bioconductor.org/p/78528/).

[2016-02-22 17:41] sgibb commented on #25
Mh, I am not convinced.
 E.g. in `data.frame` `[` and `$` are similar (the latter "supports" `pmatch`), both access a column:
[code]
In a Protein object `[` creates a subset and `$` would access/modify metadata. Wouldn't this be counterintuitive?

For the mentioned question I would suggest to add an `addIdentificationData` method for `mzID` objects (as we have done in MSnbase).

[2016-02-22 18:22] lgatto commented on #25
Yes, I suppose so. The idea stems from `pcols(x)` being a `CompressedSplitDataFrameList`.

[2016-02-22 18:26] lgatto commented on #25
I can't remember if the `MSnSet` output of `MSnID` (let's call it `x`) has all the metadata that was originally in the mzID files. We could add identification data from `fData(x)`, but not sure if ideal.

Now, by adding all the mzID files, OP has a Proteins object with all the peptides. My idea was to subset the `pranges(p)` with something like:
[code]

[2016-02-22 19:51] sgibb commented on #25
Ok, now I understand want you (or the OP) want to achieve. I don't think we need any new subsetting here. The subset operator `[` of `DataFrameList` supports a special matrix-like subsetting syntax (`[i, j]`; see `?DataFrameList` for details): by setting `i` to missing you can loop over the list (which is not possible with classic R lists):
[code]

The OP's example should be possible with the foll

[2016-02-22 22:28] lgatto commented on #25
I always use `fData(x)$foo`, but let's forget about the `$` for now.

Yes, we only need a `pranges<-` replacement method for this. Not sure about `pcols` - it is perhaps a confusing to filter on the elements metadata to filter the actual peptide ranges.

Re OP, my idea is that if we have general sub-setting capabilities, that question and many others can be resolved easily.

[2016-02-22 22:35] lgatto commented on #25
Maybe `pfeatures<-`?

[2016-02-22 23:01] lgatto commented on #25
@sgibb - could you have a look at commit 7583f240e90642092937ef72a6a8bfebd235914c.

[2016-02-23 00:09] lgatto commented on #25
I think it would be nice to have `pcols(x)[, "FOO"] <- x`, to record `delta` for example. And I guess something line `acols(x)[, "BAR"] <- ...` would also be nice for consistency. What do you thing?

[2016-02-24 17:19] sgibb commented on #25
https://github.com/ComputationalProteomicsUnit/Pbase/commit/7583f240e90642092937ef72a6a8bfebd235914c looks fine but we have to ensure that `names(pranges) == names(aa)`.

`acol<-` would be a good idea, too.

[2016-03-03 16:55] lgatto commented on #25
I have added `acols<-`. Still need to write tests, though.

[2016-03-07 14:28] sgibb commented on #25
closed in bf42895e918328c3c11708852d8a47a9a00fb6ba and 7a2375d2037704535e4c4d435cd66a0fbd250a0d.

[2016-03-07 14:28] #25 closed

[2016-03-08 08:04] lgatto commented on #25
Thanks!

[2016-10-06 06:53] jotsetung opened #26 "Proteins object good to represent protein annotation?"
I was wondering whether the `Proteins` object would be a good way to represent protein annotations (e.g. such as retrieved by Ensembld etc). See also https://github.com/jotsetung/ensembldb/issues/20 on that. Would be nice to have something equivalent to `GRanges`, just for protein data.

[2016-10-07 17:28] jotsetung commented on #26
Well, I can't import from `Pbase` in `ensembldb` because `Pbase` imports `Gviz` which imports `biovizBase` which imports `ensembldb`. So we have a nice circular namespace loading (see also issue https://github.com/jotsetung/ensembldb/issues/21).

Eventually `AAStringSet` with additional annotations in `mcols` might suffice; only problem is that protein domains on the protein sequences can not be r

[2016-10-18 05:46] jotsetung opened #27 "pcols/pmetadata method fails to return empty elements"
For `Proteins` objects with peptide `IRanges` only for some, but not all protein sequences the `pcols`/`pmetadata` skips the empty elements resulting in a `SplitDataFrameList` which ordering and length does not match the e.g. `seqnames`:

First we create a `Proteins` with 3 AA sequences, 2 of the 3 have `IRanges` on their sequences, one not:
[code]
Now, `pranges` returns correclty an `IRangesList`

[2016-10-18 12:23] #27 closed

[2016-10-18 12:23] sgibb commented on #27
@jotsetung thanks for reporting the bug and offering a patch. I completely copy your fix and slightly modify your unit test for it. Unfortunately I could not cherry-pick it from your fork (without manually selecting each line) because your commits contain different changes as well. This will cause some errors during the merge/rebase, sorry for that.

[2016-10-18 12:32] jotsetung commented on #27
@sgibb no problem. I'm afraid that I'll cause some more havoc though; I would like to add the possibility to fetch protein annotations also using `ensembldb`...

[2016-10-20 06:29] jotsetung opened #28 "Is unique seqnames required for Proteins?"
@sgibb @lgatto : I have a conceptual question: the `Proteins` object requires unique `seqnames` and names of the `pranges`. Was there any specific reason for that?
I'm asking because `GRanges` or `GRangesList` (which could be thought as being somewhat equivalent to the `Proteins` object, just for RNA/DNA features) don't:

[code]

[2016-10-20 10:24] sgibb commented on #28
Indeed our aim is to provide a similar structure for Proteins/Peptides as `GRanges` provides for D/RNA.

To be honest I didn't know that it is possible to assign the same names to `GRanges`/`GRangesList`. IMHO there was no specific reason. I just thought that something like non-unique `seqnames` could not happen or would be error-prone. @lgatto do you remember any other reason?

[2016-10-20 10:33] jotsetung commented on #28
I stumbled across this because I was creating a `Proteins` object based on all proteins that are defined in Ensembl. Usually, transcript to proteins mapping in Ensembl is 1:1, but not for LRG (locus reference genes) where multiple different transcripts seem to be associated to the same protein ID.

Another problem is the n:m mapping between Uniprot IDs and Ensembl protein IDs - these will cause pr

[2016-11-07 11:44] jotsetung commented on #28
Just picking this up again since I started hacking again a little in my `Pbase` fork - @lgatto what's your opinion on that? Is unique `seqnames` for `Proteins` object really required? If possible I would like to drop that requirement.

[2016-11-09 10:45] lgatto commented on #28
Unique names are sometimes a good restriction, but due to mapping ambiguities, I agree that it might be a good thing to change.

How would things work if I have an object with proteins `A`, `B`, `A` and `C`, and I subset by name with `x["A"]`? Do I get items 1 and 3?

[2016-11-09 11:23] jotsetung commented on #28
No, subsetting by name will only return the first occurence:
[code]
To get all you have to use:
[code]
It' somewhat similar to `matrix` that also allows redundant `rownames` and returns only the first match if subsetted by name.

[2016-11-09 11:57] lgatto commented on #28
I find that a bit ugly. I suppose one could get around that with a `filterBySeqname` function and keep the default behaviour.

[2016-11-09 14:56] jotsetung commented on #20
Suggestion:
[code]

Didn't try that one yet, but should work. Need also to evaluate performance on that.

[2016-11-10 07:11] jotsetung opened #29 "mapToGenome fails to map - strand features correctly"
The `.mapToGenome` function fails to map peptide features from proteins encoded by transcripts on the - strand correctly.

Example:
+ transcript with 3 exons on - strand, genomic coordinates: ex1 50-60, ex2 30-40, ex3 10-20.
+ peptide features and coordinates on AA sequence: pf_1 3-5, pf_2 6-7, pf_3 7-10.

The drawing below illustrates this example, first line representing the 3 exons on genomic c

[2016-11-10 07:16] jotsetung commented on #29
This is fixed with the new `.mapToGenome2` function added in commit https://github.com/ComputationalProteomicsUnit/Pbase/commit/dcc17712364b4bbdd3a4f42bd82c433f3809b923 (_ensembldb_ branch):

[code]

[2016-11-10 07:17] jotsetung commented on #29
Unit test in `test_mapToGenome-ensembldb.R` addresses this issue too.

[2016-11-10 07:28] jotsetung opened #30 "benchmark for .mapToGenome2"
The `.mapToGenome2` does no longer need the `splitExonJunctions` function that employed an `sapply` followed by a `for` loop to split ranges for peptide features spanning exons. Instead, it uses `pintersect`:

[code]

The benchmarking results for both implementations:
[code]

So, I think it's save to switch to `.mapToGenome2` (also considering issue #29). The _ensembldb_ branch uses now `.mapToGen

[2016-11-10 07:41] jotsetung commented on #20
Actually, performance doesn't look that promising (at least for few proteins, 36 in the example below):
[code]

[2016-11-10 09:14] lgatto commented on #20
It would be good to test this on larger, real-life sized data, and see how these scale.

[2016-11-10 11:47] jotsetung opened #31 "Pbase roadmap to version 1.0.0: ensembldb integration"
### Integration of `ensembldb` (https://github.com/jotsetung/ensembldb)

In addition to `biomaRt`, use functionality from the `ensembldb` package for genomic mapping of protein/peptide features and to retrieve protein annotations.
+ [x] Fetch protein annotations (as a `Proteins` object) from `EnsDb`s.
+ [x] Map peptide features to genomic coordinates using `ensembldb`.
+ [x] Add a vignette that de

[2016-11-10 11:55] jotsetung commented on #31
### Adapt `Proteins` object to resemble `GRanges`

This is matter of discussion - it contains mostly some of my suggestions thus far.
+ [ ] Allow redundant `seqnames`.
+ [ ] Link `names` to `seqnames`.

[2016-11-10 11:59] jotsetung opened #32 "Pbase roadmap to version 1.0.0: changes in Proteins"
### Changes in `Proteins` object to resemble more `GRanges`

This is more matter of discussion - it contains mostly ideas for changes I propose:
+ [ ] Allow redundant `seqnames` for `Proteins` objects (see issue #28).
+ [ ] Link `names` method to `seqnames`.

[2016-11-10 12:03] #26 closed

[2016-11-10 12:47] jotsetung opened #33 "New 1.0.0 Project and how to keep track of changes, ideas etc"
I've created now a project to keep track of changes, ideas, todos and notes for version 1.0.0 (thanks to @sgibb ). I'm not entirely sure whether I've done it cleverly - please change to your needs.
I believe we still need to use (lots of) issues to be able to discuss proposals for changes, but can use the 1.0.0 project to organize and keep track of these.

[2016-11-11 07:02] lgatto commented on #31
Biomart has become increasingly unreliable. I can see `EnsDb` becoming the main source of data/annotation.

[2016-11-11 07:25] jotsetung opened #34 "What names to be used for the GRangesList returned by mapToGenome?"
As of now the `GRangesList` returned by `pmapToGenome` and `mapToGenome` use the names of the provided `genome` object (which are in most cases the transcript IDs).

In order to keep track on which elements in the `GRangesList` correspond to mapped peptide features in the `Proteins` object I would suggest to use the `seqnames` of the `Proteins` object instead. Also given that, with the parameter `

[2016-11-11 07:33] jotsetung opened #35 "No Uniprot ID support yet for ensembl methods"
Due to the 1:n mapping between Ensembl _protein_id_ and Uniprot IDs in the Ensembl database functionality using Uniprot IDs is currently disabled in `Proteins,EnsDb` method and `mapToGenome,Proteins,EnsDb` methods.

For `Proteins,EnsDb` a solution to this could be that proteins are replicated for each `uniprot_id`, but this would require that `Proteins` supports redundant `seqnames` (see issue #28

[2016-11-11 08:42] lgatto commented on #35
I am fine with dropping the unique `seqnames` requirement.

[2016-11-11 08:45] lgatto commented on #34
Yes

Not sure if there was a question regarding dropping empty ranges and order. That was somehow a design choice to avoid carrying empty/useless things around throughout the analysis.

[2016-11-11 09:49] sgibb commented on #34
`seqnames` is a good choice.

Maybe we should add an argument to drop proteins without any mapping from the `Proteins` object if `drop.empty.ranges = TRUE` (or simply use `drop` as in `factor` and drop empty `GRanges` and not mapped proteins).

[2016-11-11 09:50] sgibb commented on #35
me too

[2016-11-11 09:51] sgibb commented on #31
If that is the case do we want to drop the `Biomart` support completely?

[2016-11-11 09:52] sgibb commented on #33
I also added a milestone `1.0.0` to allow easier filtering of the issue list.

[2016-11-11 09:52] #33 closed

[2016-11-11 09:56] jotsetung commented on #31
wouldn't drop `Biomart` completely right now - eventually later - also since `EnsDb` databases are not (yet) available for all species and Ensembl versions.

[2016-11-11 10:03] lgatto commented on #31
Yes, let's see how things work out. Also, I would be curious to compare Biomart and EnsDb (i.e. using Ensembl's perl API) mappings. I they are the same, then, yes, we can drop the former. Otherwise, I would be interested in understanding where these differences come from.

@jotsetung
- do you query stable Ensembl releases
- is there something like *just added*/devel Ensembl annotations
- can you q

[2016-11-11 10:10] sgibb commented on #32
I will do this.

[2016-11-11 10:14] jotsetung commented on #31
Yes, I'm building an `EnsDb` object for a certain Ensembl release and species.

That I don't know - I'm extracting all genes, transcripts, exons and proteins that are stored in the Ensembl MySQL database for a certain species/Ensembl release. Basically, the content should be the same than the one you get on the ensembl web site.

You can get the MySQL database dumps for each (also historic) Ensemb

[2016-11-11 10:24] #32 closed

[2016-11-11 10:25] sgibb commented on #28
sry, I will keep this open for the `filterBySeqname` method.

[2016-11-11 12:28] jotsetung commented on #35
OK, `mapToGenome,Proteins,EnsDb` supports now also Uniprot IDs to search for matching transcripts. Since a protein with the same Uniprot ID can be mapped to (encoded by) several transcripts the method internally selects the transcript which CDS length best matches the protein sequence length.

Will add an example to the `Pbase-with-ensembldb.Rmd` vignette.

[2016-11-11 13:06] jotsetung commented on #34
Done, but so far only in the _ensembldb_ branch. Will close once merged.

[2016-11-11 15:33] jotsetung commented on #35
Actually, I was wrong, there is no 1:n mapping between (Ensembl) `protein_id` and `uniprot_id`, but n:1 between `protein_id` and `uniprot_id`. This means, since there is a 1:1 mapping between `protein_id` and (Ensembl) `tx_id` there is also an n:1 between `tx_id` to `uniprot_id`. Since I fixed the selection of the _best_ transcript for a Uniprot ID as described above, there _should_ be full Unipro

[2016-11-11 20:36] jotsetung commented on #35
Again wrong - in reality the mapping is n:m between `protein_id` and `uniprot_id`: _ENSP00000338157_ is annotated to _Q05516_ and _A0A024R3C6_. So, I'll have to fix also the `Proteins,EnsDb` method accordingly.

[2016-11-12 20:31] jotsetung commented on #35
OK, I'll have to check whether I could get some more information about the annotated Uniprot IDs from Ensembl.

[2016-11-13 07:19] jotsetung commented on #35
Looking into the available attributes I found only the type of the mapping method by which Uniprot IDs are assigned to Uniprot IDs. I'll also add that to the _uniprot_ table - eventually it'll do (see also issue https://github.com/jotsetung/ensembldb/issues/29).

[2016-11-28 14:26] jotsetung commented on #35
Catching up again - `mapToGenome,Proteins,EnsDb` works with Uniprot IDs:
[code]

[2016-11-29 08:19] jotsetung commented on #35
Uniprot support is there.

[2016-11-29 08:19] #35 closed

[2016-11-29 08:21] jotsetung opened #36 "Documentation for Proteins,EnsDb and mapToGenome,EnsDb methods"
Should I add the documentation for the Proteins and mapToGenome methods that use EnsDbs to the existing Rd files or add new ones for them? For now I've them in roxygen format in the R files but do not export them.

[2016-12-07 09:23] lgatto commented on #31
@jotsetung - could send a PR to merge `ensembldb` into `master`

[2016-12-07 18:49] lgatto opened #38 "RFC: changing Proteins class"
## The issue

Currently, we don't do a good job supporting multiple types of `pranges`. We have on one side an example were `pranges` store  peptides along proteins. With the new `EnsDb` access to protein data, one can easily add other information along the protein sequences, such as protein domain (see the` Pbase-with-ensembldb` vignette). But, there is no good way to combine these different rang

[2016-12-07 19:10] #31 closed

[2016-12-08 00:12] lgatto commented on #38
Also, as a side-effect, I think that this new implementation is simpler and will lead to simplifications in the code.

[2016-12-08 15:35] sgibb commented on #38
I agree that the current implementation is very limited. I really like your idea to support multiple `pranges` but I don't like using `mcols(x@aa)` for it. It would break the line-by-line relation of sequences and their metadata. Also the use of `.get_pranges_indices` seems error-prone.
`pranges` is a central feature in `Pbase` that's why I think it earns an own slot and we could turn the `pranges

[2016-12-08 15:39] sgibb commented on #38
@lgatto what kind of code simplification do you mean? Regardless of an own `pranges` slot or as additional element in `mcols(x@aa)` we need to ensure the order and naming of the `(Compressed)IRangesList`. The only simplification I could think of would be simpler subsetting operators (because we don't have to subset `x@aa` and `x@pranges` but IMHO that is negligible).

[2016-12-08 16:15] lgatto commented on #38
The code simplifications is that all is contained into a single `DataFrame`. This is a well-defined/written data structure maintained by Bioc-core. Having the `AAStringSet`'s metadata columns and and the `pranges` as columns takes care of many of the validity implicitly and addition of new `pranges`. For example, adding a new `pranges` IRangesList will always match the number of row/proteins. And,

[2016-12-08 16:31] sgibb commented on #38
I understand your point and fully agree that using robust and heavily tested bioc classes is better than inventing our own data structure.
In my understanding a `(Annotated)DataFrame` is a table like structure and each row correspond to a single sequence (that was my intention of **line-by-line relation**). Adding a `(Compressed)IRangesList` as a `DataFrame` column would create a row (the correspo

[2016-12-08 16:44] lgatto commented on #38
I am confused when you say

Here is how I see it: adding an `IRangesList` to the `DataFrame` corresponds to adding a columns (an item to the `list`, as you point out, with the right length), which, from our point of view, adds an `IRanges` to each row/protein. This exactly match your *line-by-line relation* with each row corresponding to a single sequence.

| proteins      | mcols       | `IRanges

[2016-12-08 20:53] sgibb commented on #38
Sorry for causing confusion, I meant:

| proteins      | mcols       | `IRangesList` | `IRangesList` |
|-----------------|--------------|--------------------| ------------------|
| Sequence_1|      ....         |   `IRranges`_1   | `IRranges`_1   |
| | | - Range1 1 | - Range1 1 |
| | | - Range1 2 | - Range1 2 |
| | | - Range1 n  | - Range1 n |
| Sequence_2|      ....         |   `IRranges`_2  | `I

[2016-12-09 08:28] jotsetung commented on #38
good that you did all the discussion already :) I like the idea very much of putting the `IRangesList` into the `mcols` `DataFrame` - no more checking that the mapping protein to ranges fits.
Did you check the code already in? Did you test adding additional pranges?

[2016-12-10 14:40] lgatto commented on #38
Going to push soon. Before adding code to add `pranges`, I'll make sure that the old code base works.

[2016-12-10 16:01] lgatto opened #39 "Documentating EnsDb methods"
@jotsetung - I added the `EndDb` methods aliases in the Rd files, but there is not documentation yet. Could you update when you have a moment?

[2016-12-10 18:02] lgatto commented on #38
I will also document here other updates related to the new `Proteins` implementation. As discussed in issue #17, I will limit the use of methods when a simple function does the job. Current candidates for this are `pranges`, `acols`, `pcols`, ...

[2016-12-10 18:46] jotsetung commented on #39
Of course, I'll do

[2016-12-10 21:39] lgatto opened #40 "pranges selection"
Now that we will support multiple `pranges` (see #38), we need a way to way to define which one to use.
Suggestion is to have a optional  `character(1)`  `pcol` argument where necessary. If missing, then the name of the first `pranges` is used. If there is no `pranges` or `pcol` is not among `pvarLabels`, then an error is thrown.

Similarly, when a new `pranges` is created, we need to consider the

[2016-12-13 14:29] lgatto opened #41 "Pbase API"
This is a list of (exported) symbols that are reviewed in the light of the new class implementation (see #38). Issue opened for progress tracking and general API discussion.

![20161213_114538](https://cloud.githubusercontent.com/assets/384198/21139548/50ee75ee-c12b-11e6-97ca-917090b4ffb8.jpg)

### Constructor
- [ ] `Proteins(file = "missing", unitprotIds = "missing")` ## empty object
- [ ] `Prote

[2016-12-13 14:59] jotsetung commented on #41
I would also add the `Proteins(file = "EnsDb", unitprotIds = "missing")`  constructor to fetch the data from an `EnsDb`.
Is `mapToGenome` now removed?

[2016-12-13 15:03] lgatto commented on #41
Update. Feel free to modify the post above (or let me know if you can't).

[2016-12-14 06:48] jotsetung commented on #39
Done

[2016-12-14 06:48] #39 closed

[2016-12-14 18:39] jotsetung commented on #36
Done in https://github.com/ComputationalProteomicsUnit/Pbase/commit/12749cdfae727e9000294fb20b82a46323c1ae6c

[2016-12-14 18:39] #36 closed

[2016-12-14 18:44] jotsetung commented on #40
Makes sense. Means the `mapToGenome` will have an additional `pcol` argument. I'll implement that for `mapToGenome,Proteins,EnsDb`.

[2016-12-14 18:46] jotsetung commented on #38
As an info: since https://github.com/ComputationalProteomicsUnit/Pbase/commit/12749cdfae727e9000294fb20b82a46323c1ae6c the `Proteins,EnsDb` method fetches proteins and puts the protein domains into the `mcols(aa(x))`. Works nicely. Like that.

[2016-12-15 18:07] jotsetung commented on #29
with `.mapToGenome2` being used by default this problem is fixed.

[2016-12-15 18:07] #29 closed

[2016-12-15 18:42] jotsetung commented on #41
`mapToGenome` and `pmapToGenome` support now the `pcol` argument and work with the new `Proteins` objects.

[2016-12-15 18:43] jotsetung commented on #40
`pcol` parameter added to `mapToGenome` and `pmapToGenome` (https://github.com/ComputationalProteomicsUnit/Pbase/commit/c0a43857be3562b7e41e4c0da957896efdd4885c).

[2016-12-20 07:09] jotsetung commented on #40
I've added a `.checkPcol` utility function to check for the `pcol` parameter: throws an error if provided `pcol` does not match any `pvarLabels` or if no protein ranges are present. If `pcol` is missing it returns `pvarLabels(x)[1]` as suggested above.

[2016-12-28 15:47] lgatto commented on #11
Absolutely. I had forgotten about this issue.

[2017-04-06 20:23] sgibb opened #42 "Pbase build failure on bioc devel/release"
I just got an email from bioc because `Pbase` could not build on the development or release branch:
http://bioconductor.org/checkResults/release/bioc-LATEST/Pbase/
http://bioconductor.org/checkResults/devel/bioc-LATEST/Pbase/

In the release branch the mapping vignette fails (@lgatto could you have a look):
[code]

In the development branch the error seems to be related to `ensembldb` (@jotsetung

[2017-04-07 05:31] jotsetung commented on #42
I recently (yesterday) fixed the `ensembldb` related stuff, so that's already in github (but not yet in Bioc). Problem is that with the change to store the peptide features in a `DataFrame` (was done back then in December) some things broke.

[2017-04-07 07:09] lgatto commented on #42
I am looking into this now.

[2017-04-07 07:19] lgatto commented on #42
@jotsetung - can you help with this
[code]

[2017-04-07 07:23] lgatto commented on #42
Note that I just updated all my packages, but maybe I need to wait for the latest round of changes to become available via `biocLite`?

[2017-04-07 07:44] jotsetung commented on #42
You'll need `biovizBase` version 1.23.3 and `ggbio` version 1.23.7. You should get them with
[code]

[2017-04-07 07:46] lgatto commented on #42
Thanks

[2017-04-07 07:49] lgatto commented on #42
Will have to try again later because I can't access and `ggbio` 1.23.7 is not yet available
[code]

[2017-04-07 08:01] jotsetung commented on #42
That is indeed strange - I get the newer versions.
Alternatively:
[code]

[2017-04-07 20:39] lgatto commented on #42
I painfully went through all the errors, but also had to comment some unit test. At this stage, the `mapToGenome` fails with something that shouldn't have worked before, I think, as the protein ranges are empty. This also breaks the vignette.

[2017-04-08 07:42] lgatto commented on #42
That is partly resolved now. @jotsetung, is to be expected?
[code]
And, in [`.mapToGenome2`](https://github.com/ComputationalProteomicsUnit/Pbase/blob/master/R/coordinate-mapping-methods.R#L173-L180)

[code]

when testing `p`, one range fails with
[code]
The exon order and strand are
[code]
Is this not to be expected?

[2017-04-08 10:44] jotsetung commented on #42
Really? Wouldn't it be better to support a `Proteins` object without protein ranges? While that would be a simple `AAStringSet` but protein ranges could be added later.

Regarding the `p` object, yes, one range fails, that is to be expected.

Regarding the exon order, that's strange indeed. But I was sure that this function was working.

[2017-04-09 19:52] lgatto commented on #42
Builds fine locally now. I have temporarily removed some vignettes, while I finish refactoring.

@jotsetung - once I feel that the new class/API are mature, I will follow up with the strand and exon order issue.

[2017-04-09 19:52] #42 closed

[2017-04-10 05:48] jotsetung opened #43 "Check strand checks in .mapToGenome2"
Ensure that strand checks are correct in the `.mapToGenome2` function.

[2017-04-10 05:49] jotsetung commented on #42
OK. I've just added issue #43 that I don't forget that.

[2017-04-10 13:31] lgatto opened #44 "Support proteogenomics formats"
Add support for
- proBAM
- proBED

[2017-11-07 07:24] jotsetung opened #45 "Add/replase pranges in Proteins object"
Would be nice if it was possible to add/replace protein ranges to a `Proteins` object. The `pranges<-` method has been commented out - eventually we should consider to check and re-enable it.

[2017-11-07 07:30] jotsetung opened #46 "Mapping to genome fails without apparent reason"
Got the following example
[code]

So, mapping works. But if a single IRanges is added it fails:
[code]

Interstingly, it works if one of the protein domains is selected:
[code]

[2017-11-07 11:25] jotsetung opened #47 "Add PRanges and move part of functionality to ensembldb?"
Related to #46 I was thinking:
+ Should we move some of the functionality to map ranges within proteins to the genome to `ensembldb`? Somehow that would make sense, since all the data is there and all the functionality to work with genomic annotations.
+ Wouldn't it make sense to define a `PRanges` object that is similar to the `GRanges`? Could be just as the `GRanges` but without strand and with

[2017-11-07 13:44] lgatto commented on #47
I'm snowed under and travelling for 2 coming weeks - will get back to you after that.

[2017-11-07 21:36] sgibb commented on #47
@jotsetung that a great suggestion. That was our first intention when we started Pbase. To be honest I don't remember why we stopped implementing it.

[2017-11-08 07:31] jotsetung commented on #47
Also I was wondering whether it wouldn't be wise to start a new package, e.g. `ProteinRanges` (analogy to the `GenomicRanges` package) that is centered around the `PRanges` object. `Pbase` could import stuff from there, same as e.g. `ensembldb` could. `Pbase` has so many dependencies that it is hard to implement anything from it in other packages and don't run into cyclic dependencies (I can e.g.

[2017-11-08 19:47] sgibb commented on #47
You are right. `Pbase` is already a heavy packages. To follow the bioconductor naming scheme a `ProteinRanges` package would be great. I am looking forward to meet you and @lgatto at EuroBioc2017!

[2017-11-10 20:07] sgibb commented on #47
BTW: for the `topdownr` package I used a similar class called `FragmentViews`. It is an overloaded `XStringViews`. `XStringViews` is an `XString` (dna/peptide sequence) combined with an `IRangesList`.

After thinking about it for a while I assume that we avoided creating a `PRanges` class because it would be just an `IRangesList` (the id could be part of the `metadata` slot).

[2017-11-12 15:04] jotsetung commented on #47
Good point - I'll check the `IRanges` - didn't think of the metadata column.

[2017-11-17 08:11] jotsetung commented on #46
I've rewritten big part of the mapping functionality (based on the original code in `Pbase`) in `ensembldb` and now it works nicely:

[code]

[2017-11-17 08:15] jotsetung commented on #47
Dear @lgatto and @sgibb , I went ahead and added coordinate mapping functionality to `ensembldb` (specifically a function `proteinToGenome`). See issue #46 for a use case - it fixes also the problem described in issue #46.
Now, since the original code was based on your work, is it OK if I add you two as contributors to `ensembldb`?

I'd also like to implement (if time permits) other functions, suc

[2017-12-31 01:20] apastore opened #48 "mapToGenome fail to map protein domain"
Hi, thanks a lot for this package is extremely useful and save me a lot of code.

I am experiencing some issue when I try to map protein domain to GRCh38. many protein domain get mapped correctly, but for some protein it return a empty GrangeList even if multiple protein domain are presented.
One example is  human MLLT3.

Do you have any idea?

Thanks a lot!

`edb <- query(AnnotationHub(), c("Ense

[2018-01-08 10:00] jotsetung commented on #48
Dear @apastore , thanks for reporting. In the current Bioconductor development version I've moved (and rewritten) the mapping code from `Pbase` to `ensembldb` and this also fixed the error you describe.
`ensembldb` has now 6 functions, `proteinToTranscript`, `proteinToGenome`, `transcriptToProtein`, `transcriptToGenome`, `genomeToTranscript` and `genomeToProtein` to map between protein, transcript

[2018-01-09 01:29] apastore commented on #48
Thanks! I have seen the ensembldb devel version. I will try that.

[2018-07-03 12:26] jotsetung opened #49 "ensembldb-related check errors"
Looks like an error related to the recent changes in `ensembldb`. I'll fix.

Error:
[code]

[2018-07-03 12:39] jotsetung commented on #49
@lgatto @sgibb I realized the github master has diverged from the Bioc master. I've merged the two with --allow-unrelated-histories on my local copy and now I'm ahead of the github master by 111 commits. Any of you has a more up-to-date copy than this one on github?

I'm just hesitant to push my local changes now to github (and/or BioC)...

[2018-07-04 08:02] lgatto commented on #49
What are the differences? Only cosmetic, or substantial?

[2018-07-04 08:35] jotsetung commented on #49
Only DESCRIPTION (version) and one line in the utils.R. I guess these come from Herve due to some recent changed in IRanges. The rest of the 111 commits my local copy is now ahead of master is I believe due to the former git-svn setup from Bioconductor.

[2018-07-06 15:44] sgibb commented on #49
I don't have any local differences to the current github master.

[2018-07-06 22:56] lgatto commented on #49
@jotsetung - feel free to merge and send a PR.

[2018-07-06 22:57] #49 closed

[2019-08-08 11:04] sgibb opened #51 "Pbase check errors on BioC"
`Pbase` checks fail on BioC. There seems to be a problem with `mapToGenome` and `ensembldb`. The relevant log output:
[code]

@jorainer AFAIR you moved the code to `ensembldb` completely. Should we just deprecate/remove it from `Pbase`?

[2019-08-08 11:33] lgatto commented on #51
Is the package still needed? What about depreciating it completely?

[2019-08-08 11:41] sgibb commented on #51
You are right. I don't think we every really finished it (at least for our initial purpose) but in its current state it is not needed anymore. So I am fine with depreciating it.

[2019-08-08 13:17] lgatto commented on #51
I am marking the package for deprecation, removing offending code, and will email Bioconductor.
I suggest we can keep it here, for reference purposes.

[2019-08-08 13:36] #51 closed, assigned to nobody